@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap");

@font-face {
  font-family: "journal";
  src: url("/fonts/journal-webfont.woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --boardSize: 33vw;
  --gray: #656c97;
  --pink: #f788df;
  --yellow: #e4f0a8;
  --green: #2ecc70bd;
  --accents: #ed8145;
  --background: #ecf0f1;
}

body {
  background-color: var(--background);
}

h1 {
  text-align: center;
  color: var(--gray);
  text-shadow: 2px 2px 0px var(--pink);
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 4rem;
}
#gameBoard {
  margin: auto;
  width: var(--boardSize);
  height: var(--boardSize);
  display: grid;
  grid-template-columns: repeat(3, var(--boardSize) / 3);
  grid-template-rows: repeat(3, var(--boardSize) / 3);
  grid-template-areas:
    "zero one two"
    "three four five"
    "six seven eigth";
  gap: 10px;
  caret-color: transparent;
}

.boardPanel:hover {
  cursor: pointer;
}

#zero {
  grid-area: zero;
}

#one {
  grid-area: one;
}

#two {
  grid-area: two;
}

#three {
  grid-area: three;
}

#four {
  grid-area: four;
}

#five {
  grid-area: five;
}

#six {
  grid-area: six;
}

#seven {
  grid-area: seven;
}

#eigth {
  grid-area: eigth;
}

.boardPanel {
  background-color: var(--green);
  line-height: calc(var(--boardSize) / 3);
  text-align: center;
  font-size: 3em;
  height: calc(var(--boardSize) / 3);
  width: calc(var(--boardSize) / 3);
  font-family: journal;
  font-weight: bolder;
}
